*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    background-color: #e9e9e9;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 550px;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.25);
}

.topBar{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.topBar p{
    font-size: 12px;
}

.icons{
    color: rgb(160, 156, 156)
}

.icons i:not(:first-of-type){
    margin-left: 20px;
}

.secondaryBar{
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
}

.secondaryBar .burgerAndHeading{
    display: flex;
    align-items: center;
}

.burger .line{
    width: 25px;
    height: 1px;
    margin: 4px 0;
    background-color: #333;
}

.secondaryBar h3{
    margin-left: 20px;
    font-size: 15px;
    letter-spacing: 1px;
}

.input-group input{
    padding: 30px 10px 15px 10px;
    border: none;
    width: 100%;
    text-align: right;
    font-size: 40px;
}

.input-group input:focus{
    border: none;
}

.modes{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    flex-grow: 1;
}

.modes p{
    font-size: 12px;
    text-align: center;
    padding: 10px 0;
}

.modes p:hover{
    background-color: #ddd;
}

.modes p.de-active{
    color: #999;
}

.modes i{
    font-size: 5px;
}

.topOperations{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    align-items: center;
    justify-content: stretch;
}

.topOperations p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    padding: 15px 0;
}

.topOperations p:hover{
    background-color: #999;
}

.numbersAndBasicOperations{
    background-color: #f1f1f1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
}

.numbersAndBasicOperations p{
    padding: 15px;
}

.numbersAndBasicOperations p.number{
    font-size: 18px;
    font-weight: bold;
}

.numbersAndBasicOperations p:hover{
    background-color: #ddd;
}